name = "blaze-field-do"
main = "index.ts"
compatibility_date = "2024-08-23"

[[durable_objects.bindings]]
name = "GAME_ROOM"
class_name = "GameRoom"

[[migrations]]
tag = "v1"
new_classes = ["GameRoom"]

[dev]
port = 8790
local_protocol = "http"
