node_modules
dist
build
.next
coverage
public
.wrangler
BSI
BSI-NextGen
BSI-1
BSI-2
Documents
Desktop
Downloads
Library
Applications
Movies
Music
Pictures
Public
Sites
*.min.js
*.min.css
package-lock.json
